body {
    background-color: lightskyblue;
    border: 2px blue;
    margin: 0;
}
ul{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
nav{
    background-color: lightblue;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
#all{
    display: flex;
    justify-content: center;
    gap:20px;
}
#staff{
    /* grid layout for staff images */
   display: grid;
   grid-template-columns: auto auto auto;
   /* text-align: left; */
}
#staff>p>span{
    font-weight: bolder;
    font-style: italic;
}
p>img{
    border-radius: 100px;
}
#main{
    border-radius: 25px;
    padding:50px;
    display: flex;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    text-align: center; 
  
}
div>img{
    width:40vw;
    border-radius: 25px;
    border: 5px black solid;
}

#orders{
    border-radius: 25px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    text-align: center;
}
#message{
    border-radius: 25px;
    background-color: whitesmoke;
  
    text-align: center;
    padding:20px;
    width: calc(80%);
    display: flex;
    flex-direction: column;
    font-size: larger;

}
#left, #places{
    display: inline-block;
    vertical-align: top;
}
#left{
    /* flex: 1; */
    width: 45%;
    float: left;
    /* justify-content: flex-start; */
}
#placed{
    width: 45%;
    float: right;
    background-color: aliceblue;
}
#successOrder{
    background-color: aliceblue;
    text-align: center;
    font-family:  "Gravitas One", sans-serif ;
    font-size: large;
}
#orderNum{
    font-size: small;
}
#failOrder{
    background-color: aliceblue;
    text-align: center;
   
    font-family:  "Gravitas One", sans-serif ;
    font-size: large;

}
#orderErr{
    font-size: small;

}

#ShowUpdate>label{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    /* background-color: whitesmoke; */
    gap:20px;
    padding:10px;
}
#ShowUpdate>textarea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /* background-color: whitesmoke; */
    gap:20px;
    padding:10px;
}
#ShowUpdate>input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap:20px;
    padding:10px;
}
#countDown{
    border-radius: 25px;
    /* width: 40%; */
    background-color: whitesmoke;
    border: 1px blue solid;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:4;

}
#countDown p{
    font-size: 15px;
    font-style: oblique;
    font-family:  "Gravitas One", sans-serif ;
}
#countDown p span{
    font-size: 15px;
    font-weight: 500;
    color:grey;
    display:flex;
    justify-content: center;
    /* font-family: none; */
}

#about{
    border-radius: 25px;
    width: 40%;
    background-color: whitesmoke;
    border: 1px blue solid;
    padding-left: 15px;

}

#searched{
    background-color: whitesmoke;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}
#searched2{
    background-color: whitesmoke;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}
#newOrder>form{
    border-radius: 25px;
    padding:20px;
    width: calc(80%);
    margin-left : 100px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
  
}
form>button{
    background-color: lightblue;
    padding: 5px;
}


input[type=submit]{
    background-color: lightblue;
    padding: 5px;

}
input[type=button]{
    
    background-color: lightblue;
    padding: 5px;

}


h1{
    display: flex;
    justify-content: center;
    background-color: lightskyblue;
    font-family: "Gravitas One", sans-serif;
    padding-bottom: 50px;
    font-size: 40px;

}
h2{
    text-align: center;
}
nav > a{
   
    background-color: cyan;
    text-decoration: solid;
    text-decoration: black;
    height: 20px;
    padding-top:5px; 
    padding-bottom:5px;
}
nav > a:hover{
    background-color: violet;
}
form{
    display: flex;
    justify-content: center;
    padding:10px;
    
}
table, th, td {
  border: 1px solid;
  padding: 10px;
  margin: 0;
}
table{
    border: 1px solid;
    border-spacing: 0px;
    border-top: 1px;
    border-bottom: 1px;
    display: flex;
    justify-content: center;
   
}
th{
    border: 2px solid;
    padding: 0;
    background-color: white;
    
}
tr:nth-child(odd) {
   background-color: pink;
}
tr:nth-child(even) {
   
   background-color: lightgray;
}

body>p{
    background-color: whitesmoke;
    text-align: center;
    /* display: flex; */
    justify-content: flex-end; 
    text-decoration: solid;
    font-size: large;
    padding: 15px;
    margin:0;
}
em{
    color: blue;
}
strong{
    color: red;
}
#extra{
    display: flex;
    justify-content: flex-start;
}
